<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="linq2db" type="LinqToDB.Configuration.LinqToDBSection, linq2db" />
	</configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conexionBD"
			 providerName="SqlServer"
			 connectionString="Server=.;Database=BD_Inventario;Integrated Security=True;"/>
	</connectionStrings>
	<linq2db>
		<dataProviders>
			<add name="SqlServer" type="LinqToDB.DataProvider.SqlServer.SqlServerDataProvider, linq2db" />
		</dataProviders>
	</linq2db>

</configuration>